.header hr{
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: #a1a1a1;
    border: none;
}
.header ul{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
}
.header ul li{
    padding: 40px 0 ;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #fff;
}
.header ul li:nth-of-type(1){
border-bottom: 2px solid #fff;
}
.header{
    position: absolute;
    right: 0;
    left: 0;
}